<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Waterbug.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F6260998055D24D78EEA7BBBBF1ED3220454289E</string>
				<key>dateExpires</key>
				<string>4/10/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F6260998055D24D78EEA7BBBBF1ED3220454289E</string>
						<key>dateExpires</key>
						<string>4/10/19</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TitaniumKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6RRED3LUUV</string>
						<key>name</key>
						<string>Michael Sharman</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6RRED3LUUV.net.thewaterbug.waterbug</string>
				<key>com.apple.developer.team-identifier</key>
				<string>6RRED3LUUV</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>6RRED3LUUV.net.thewaterbug.waterbug</string>
				</array>
			</dict>
			<key>name</key>
			<string>Waterbug.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>eb88a8c0-d6e1-4622-a69b-3513ebe5be62</string>
				<key>name</key>
				<string>WaterbugAppAdhoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6RRED3LUUV</string>
				<key>name</key>
				<string>Michael Sharman</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
