<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension id="waltaKey" name="WALTA Key Validator" point="org.eclipse.wst.validation.validatorV2">
      <validator build="true" manual="true"
		class="net.thewaterbug.walta.WaltaKeyValidator">
		<include>
			<rules>
				<file type="file" name="key.xml"></file>
			</rules>
		</include>
      </validator>
   </extension>
</plugin>
