[submodule "walta-app/src/dojo"]
	path = walta-app/src/dojo
	url = https://github.com/dojo/dojo.git
[submodule "walta-app/src/dijit"]
	path = walta-app/src/dijit
	url = https://github.com/dojo/dijit.git
[submodule "walta-app/src/dojox"]
	path = walta-app/src/dojox
	url = https://github.com/dojo/dojox.git
[submodule "walta-app/src/util"]
	path = walta-app/src/util
	url = https://github.com/dojo/util.git
[submodule "walta-app/src/phonegap"]
	path = walta-app/src/phonegap
	url = https://github.com/phonegap/phonegap
[submodule "build"]
	path = build
	url = https://github.com/TheWaterBugCompany/walta-phone-gap-build.git
[submodule "walta-build/phonegap"]
	path = walta-build/phonegap
	url = https://github.com/phonegap/phonegap.git
[submodule "walta-build/phonegapbuild"]
	path = walta-build/phonegapbuild
	url = https://github.com/TheWaterBugCompany/walta-phone-gap-build.git
