

walta-app/plugins/**
walta-app/app/assets/unit-test/lib/mocha.js
walta-app/app/assets/unit-test/lib/chai.js
walta-app/app/assets/unit-test/lib/chai-date-string.js
walta-app/app/assets/leaflet/**
walta-app/app/lib/lib/moment.js
walta-app/app/assets/browserify/**
.metadata
*.aab
*.apk
*.ipa
**/*.lock
.DS_Store
**/.DS_Store
release/**
**/node_modules
node_modules
walta-app/Pods/**
.bundle
.irb-history
.~*
.calabash_settings
features/support/mock_data/rest/*/*/*/mock/response.txt
appium.log
builds/**/*.log
builds/**/*.plist
builds/**
mock-server/rest/*/*/*/mock/response.txt
walta-app/app/app-config*
.DS_Store
