

walta-app/plugins/**
.metadata
*.aab
*.apk
*.ipa
**/*.lock
.DS_Store
**/.DS_Store
release/**
**/node_modules
node_modules
Pods/**
.bundle
.irb-history
.~*
.calabash_settings
features/support/mock_data/rest/*/*/*/mock/response.txt
appium.log
builds/**/*.log
builds/**/*.plist

mock-server/rest/*/*/*/mock/response.txt