<Alloy>
	<View id="content" class="container">
			<View id="bigOptions">
				<View id="logInOrRegister" onClick="logInClick">
					<Label id="logInLabel" class="smallMenuText" text="Log In" />
				</View>
				<View>
					<View  id="mayfly" onClick="mayflyClick">
						<View id="mayflyIconWrapper">
							<ImageView id="mayflyIcon" />
						</View>
						<Label id="mayflyLabel" class="bigMenuText" text="Mayfly\nMuster" />
					</View>
				</View>
				<View id="detailed" onClick="detailedClick">
					<View id="detailedIconWrapper">
						<ImageView id="detailedIcon" />
					</View>
					<Label id="detailedLabel" class="bigMenuText" text="Waterbug\nSurvey" />
				</View>
			</View>
			<View id="smallOptions" layout="horizontal">
				<View id="help" class="smallButton" onClick="helpClick">
					<ImageView id="helpIcon" class="smallButtonIcon" />
					<Label id="helpLabel" class="smallMenuText" text="Help and Info" />	
				</View>
				<View id="history" class="smallButton" onClick="historyClick">
					<ImageView id="historyIcon" class="smallButtonIcon"  />
					<Label id="historyLabel" class="smallMenuText" text="Surveys" />
				</View>
				<View id="gallery" class="smallButton" onClick="galleryClick">
					<ImageView id="galleryIcon" class="smallButtonIcon"  />
					<Label id="galleryLabel" class="smallMenuText" text="Photos &amp; Videos" />
				</View>
				<View id="about" class="smallButton" onClick="aboutClick">
					<ImageView id="aboutIcon" class="smallButtonIcon"  />
					<Label id="aboutLabel" class="smallMenuText" text="About the App" />
				</View>
			</View>
	</View>
</Alloy>
