/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using Stylus: http://learnboost.github.com/stylus/.
 */

@import '../../dojox/mobile/themes/iphone/iphone.css';

@font-face {
	font-family: Boulder;
	src: url("boulder.ttf");
}

/* Set default styles */
html,body {
	min-width: 320px;
	height: 100%;
	font-family: Tahoma, sans-serif !important;
    font-size: 4mm !important;   
    background-color: white !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Anchor bar */
.waltaAnchorBar {
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2f61cc), to(#7797de) );
	color: white;
	text-align: center;
}

.waltaAnchorBarIcon {
	width: 20px; 
	height: 20px; 
	margin-top: 2px;
	margin-left: 2px;
	background-size: cover;
}

.waltaHome     { 
	float: left; 
	background-image: url("home.png"); 
}

.waltaSettings { 
	float: right; 
	background-image: url("settings.png");
}

.waltaInfo { 
	float: right; 
	background-image: url("info.png");
}

.waltaAnchorBar h1 {
	font-size: 4mm;
	font-weight: normal;
	font-faimly: Tahoma;
	color: white;
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 4px;
}

/* The home screen */
 @media only screen and (orientation: landscape) {
  .waltaHomeView p {
  	margin: 0;
  }
  
  .waltaHomeView h1 {
  	font-size: 12mm !important;
  }
  
  .waltaHomeView h3 {
  	font-size: 4.1mm !important;
  	margin-left: 34px;
  }
  
  .waltaLogo {
	
	height: 12mm;
	width: 15mm;
	margin-top: 3mm;
}
  
  .waltaMenu { 
  	width: 31% !important;
  } 
  .waltaMenu h2 {
  	font-size: 4.2mm !important;
  }
  
  .waltaMenu p {
  	text-align: left !important;
	font-size: 3.2mm !important;
  }
  
  .waltaMenuIcon {
    margin-top: 10px !important;
    margin-bottom: 12px !important;
  	width: 65px !important;
	height: 65px !important;
	background-size: cover;
  }
  
  .waltaSecondary { 
  	width: 25% !important;
  	  
  } 
  .waltaSecondary h2, .waltaSecondary p {
	margin-left: 1em;
  }
} 

.waltaFullscreen {
	width: 100%;
	height: 100%;
}

.waltaHomeView { 
	text-align: center;
	margin-top: 0.05mm;
	margin-left: auto;;
}

.waltaHomeView h1 {
	font-size: 14mm;
	margin-top: 2mm;
	margin-bottom: 0;
	font-family: Boulder;
	display: inline-block;
	vertical-align: middle;
}

.waltaHomeView h2 {
	margin-top: 2mm;
	margin-bottom: 1mm;
	font-size: 6mm;
	font-family: Boulder;
	font-weight: normal;
	text-align: left;
	color: rgba(47,97,204,1); 
}

.waltaHomeView p {
	text-align: left;
}

.waltaHomeView h3 {
	font-size: 4.5mm;
	font-weight: normal;
	font-family: Times;
	margin-top: -3mm;
	margin-left: 6em;
	margin-bottom: 0;
}



.waltaPanel {
	display: block;
	margin: 0;
}

.waltaHeader {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}

.waltaLogo {
	background-image: url( "logo.svg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 14mm;
	width: 19mm;
	margin-top: 5mm;
	margin-left: 1mm;
	margin-right: 5mm;
	display: inline-block;
	vertical-align: middle;
}

.waltaMenuIcon {
	margin-left: 0mm;
	margin-right: 0mm;
	margin-top: 0mm;
	width: 92px;
	height: 92px;
	float: left;
}

.waltaSpeedbugLogo { 
	background-image: url("speedbug.png"); 
}

.waltaAltKeyLogo { 
	background-image: url("altkey.png"); 
}

.waltaBrowseLogo { 
	background-image: url("browse.png"); 
}

.waltaMenu { 
	clear: left;
	width: 93%;
	height: 100px;
	-webkit-border-radius: 3mm 3mm; 
	background-color:  rgba(47,97,204,0.3); 
	margin-bottom: 1%;
	margin-top: 1%;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
	display: inline-block;
}


.waltaSecondary {
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	margin-top: 4px;
	display: inline-block;
	width: 25%;
}

.waltaSecondary h2 {
	margin-top: 0.2mm;
	margin-bottom: 0.05mm;
	text-align: center;
}





/* Lay out the questions and media images */
.waltaKey h4 { 
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	font-size: 4mm; 
	text-align: center;
}

.waltaQuestionContainer {
	position: absolute;
	left: 0; right: 0; top: 10mm; bottom: 2.1em;
}

.waltaQuestion { 
	display: table;	
	position: relative;
	height: 47.5%; 
	width: 97.5%;
	margin-top: 1.25mm;
	margin-bottom: 1.25mm;
	margin-left: 1.25mm;
	margin-right: 1.25mm;
	padding-right: 1mm;
	-webkit-border-radius: 1em 1em; 
	background-color:  rgba(47,97,204,0.3); 
}

.waltaQuestion p { 
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
	padding-right: 1em;
	text-align: left;
}

.waltaImageContainer {
	display: table-cell;
	position: relative;
	vertical-align: middle;
	width: 40%;
	overflow: hidden;
}

.waltaImageContainer img {
	position: absolute;
	top: 5mm; left: 0;
	width: 90%;
	height: 90%;
	
}

.waltaQuestion:after {
	position: absolute;
	content: ">";
	font-size: 2em;
	right: 0.1em;
	top: 50%;
	margin-top: -0.5em;
}

/* Layout the taxon summary */
.waltaTaxon { height: 100%; width: 100%; display: table; }
.waltaTaxon strong { display: table-cell; text-align: center; vertical-align: middle; font-size: 8mm; }

.waltaBackButton { 
	font-size: 4mm;
	font-family: Tahoma, sans-serif;
	background-color: #2f61cc;
	background-image: none;
	border-color: white;
	padding-top: 0; padding-bottom: 2em;
	padding-left: 2em; padding-right: 0.5em;
	position: absolute;
	bottom: 0.2em;
	right: 0.3em;
}