/**
 * If you are developing a project that makes use of Dijit widgets, you will probably want to include the two files
 * below; otherwise, you can remove them. When building for release, Dojo will automatically combine all of your
 * @imported CSS files into a single file.
 *
 * It is highly, highly recommended that you develop your CSS using Stylus: http://learnboost.github.com/stylus/.
 */

@import '../../dojo/resources/dojo.css';

#waltaApp {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.waltaKeyNode { height: 100%; width: 100%; }
.waltaQuestion { height: 50%; width: 100%; }
.waltaQuestion button { height: 100%; width: 100%; font-size: 3em; line-height: inherit; }
.waltaTaxon { height: 100%; width: 100%; display: table; }
.waltaTaxon strong { display: table-cell; text-align: center; vertical-align: middle; font-size: 8em; }

.waltaBackButton { 
	position: absolute; 
	bottom: 0.2em; 
	right: 0.2em; 
	width: 8em; 
	height: 2em; 
	font-size: 4em;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00fd00), to(#00ce00), color-stop(0.5, #00f800), color-stop(0.5, #00ee00));
}